@model Teos.Models.Caracteristicas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Caracteristicas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mostra_vitrine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mostra_vitrine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Permitir_Perguntas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permitir_Perguntas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
